# Matplotlib y Seaborn a fondo

In [1]:
import pandas as pd

In [3]:
train=pd.read_excel('Datos Taller individual - 2410 (Estudiantes).xlsx', sheet_name='Train')
train

,idloc,edadloc,correo,paginas,telefono,impresa,servicio,nomina,idmercado,tamamer,promo,ropamujer
0,1648,11,10042,68,35,22609.49,30,66307,8,Grande,2,43747.692274
1,1259,3,11909,107,42,24561.99,35,29107,8,Grande,2,37483.689991
2,674,13,10669,75,33,38914.22,52,9519,4,Median,3,57522.995483
3,1558,7,6981,65,19,39204.97,30,28651,7,Grande,1,50338.062084
4,1626,22,10940,74,37,23947.08,46,30654,7,Grande,2,45675.550054
...,...,...,...,...,...,...,...,...,...,...,...,...
1595,333,17,10652,83,29,35573.17,51,58188,9,Grande,2,65259.868597
1596,1440,23,11322,104,53,32521.67,62,20538,7,Median,1,65295.618575
1597,1685,16,10956,108,34,28150.52,52,21782,6,Median,2,41784.373867
1598,1378,5,11059,76,40,22011.37,58,14877,4,Pequeño,3,53933.720986
1599,1655,19,13468,99,50,29996.81,67,21983,7,Grande,2,83908.923696